/* Formatando a página inteira*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 550;
    background-color: #10008f;
    border: 0;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

/* Estilo do Header */
header{
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

header a:hover {
    color: #10008f;
    transform: scale(1.07);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button:hover {
    transform: scale(1.07);
}

/*Ajustando o tamanho do logotipo*/
.logo img {
    max-width: 250px;
    height: auto;
}

/*Estilo do toppage*/
section.toppage {
    padding: 40px 4%;
}

section.toppage .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.toppage h1 {
    color: #10008f;
    font-size: 55px;
    line-height: 20px;
}

.toppage .txttoppage p {
    color:black;
    margin: 40px 0;
}

.imgtoppage img {
    max-width: 250px;
    height: auto;
}